/*******************************************************************************************/
/************************************** Common Styles **************************************/
/*******************************************************************************************/
.btn-custom {
    background-color: #FACD0A;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #3244C0;
    border: 2px solid #FACD0A;
    display: inline-block;
}

.btn-custom:hover {
    background-color: #fff;
    border: 2px solid #3244C0;
    color: #3244C0;
}

.buy_now_btn,
.hotline_btn {
    border-radius: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 178px;
    height: 38px;
    padding: 10px 0px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 1;
}

.buy_now_btn {
    background-color: #FACD0A;
    border: 2px solid #FACD0A;
    color: #3244C0;
    font-weight: 600;
}

.hotline_btn {
    background-color: #4C5BDC;
    border: 2px solid #4C5BDC;
    color: #fff;
}

.buy_now_btn:hover {
    background-color: #fff;
    border: 2px solid #3244C0;
    color: #3244C0;
}

.hotline_btn:hover {
    background-color: #fff;
    border: 2px solid #3244C0;
    color: #3244C0;
}

.hotline_btn span {
    font-weight: 600;
}

.top-line {
    width: 53px;
    height: 6px;
    background-color: #4C5BDC;
    margin: 0 auto;
    margin-bottom: 25px;
}

.bottom-line {
    position: relative;
}

.bottom-line:after {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
}

.bottom-left-line {
    position: relative;
}

.bottom-left-line:after {
    position: absolute;
    width: 63px;
    height: 7px;
    content: '';
    background-color: #4C5BDC;
    left: 0;
    bottom: 0;
}

.border-line {
    position: relative;
}

.border-line:after {
    position: absolute;
    max-width: 935px;
    width: 85%;
    height: 2px;
    background-color: #797979;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';

}

.circle {
    position: absolute;
    width: 307px;
    height: 307px;
    border: 4px solid #3244C0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.circle-bg {
    background-color: #4C5BDC;
    width: 285px;
    height: 285px;
    border-radius: 50%;
}

.vertical-line {
    position: relative;
}

.vertical-line:after {
    width: 2px;
    height: 70%;
    position: absolute;
    content: '';
    background-color: #D2D2D2;
    right: 0;
    bottom: 25px;
}

.vertical-line:last-child:after {
    display: none;
}

.boxed {
    padding: 25px 95px;
    border: 3px solid #3244C0;
    border-radius: 10px;
}

.sm-space-bottom {
    margin-bottom: 0px;
}

/***************************************************/
/****************** Float Sidebar ******************/
/***************************************************/

.floatbar {
    max-width: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: calc(50% + 25px);
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
}

.floatbar .content {
    margin-bottom: 20px;
}

.floatbar .title span {
    font-size: 10px;
    font-weight: 600;
    color: #2415E7;
    line-height: 1;
    text-transform: uppercase;
}

.floatbar .icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #3244C0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.floatbar .icon img {
    width: 30px;
}

.inner_banner {
    /*    min-height: 100px;*/
    width: 100%;
    background-color: #95b0f6;
}

/*********************************************************/
/****************** Inner Banner Slider ******************/
/*********************************************************/

.inner_banner .carousel-img img {
    object-fit: cover;
    object-position: center;
}

.inner_banner .carousel-img {
    display: flex;
    max-height: 475px;
}

.animate-img {
    overflow: hidden;
}

.animate-img:hover img {
    transform: scale(1.1);
}


.animate-img img {
    transition: .5s all ease-in-out;
}

.slider .slider_img {
    overflow: hidden;
}

.slider .slider_img img {
    transition: .5s all ease-in-out;
}

.slider:hover .slider_img img {
    transform: scale(1.1);
}

.content .image {
    overflow: hidden;
}

.content .image img {
    transition: .5s all ease-in-out;
}

.content:hover .image img {
    transform: scale(.9);
}

/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
