@media only screen and (min-width: 1601px) {

    /*Home Banner*/
    .home-page .home-banner {
        background-position: center left;
    }

    .home-page .home-banner .banner-logo {
        max-width: 115px;
        margin-bottom: 50px;
    }

    .home-page .home-banner .banner-text {
        margin-bottom: 50px;
    }

    .home-page .home-banner .banner-text h2 {
        font-size: 35px;
    }

    .home-page .home-banner .banner-img {
        max-width: 300px;
    }

    /*Inner Page Slider*/
    .inner_banner .carousel-img img {
        max-height: unset;
    }

    .inner_banner .carousel-img {
        max-height: 600px;
    }
}

@media only screen and (min-width: 991px) {
    .footer-main .col-lg-4 {
        max-width: 30%;
    }
}

@media only screen and (max-width: 1460px) {
    .container {
        /*        padding: 0px 15px;*/
    }

    /*header*/
    .brand-logo {
        margin-left: 15px;
    }

    /*footer*/
    .footer-container {
        padding: 15px;
    }

    /*Single Product Banner*/
    .s_p_banner .container {
        padding-left: 100px;
    }

    .specification-section .container {
        max-width: 1210px;

    }
}

@media only screen and (max-width: 1280px) {

    /*footer*/
    .footer-main .row {
        justify-content: space-evenly;
    }



    .footer-copyright {
        padding: 0px 15px;
    }

    /*home Banner*/
    .home-banner .home-banner {
        height: 500px;
    }

    .home-banner .banner-content {
        right: 5%;
    }

    .product-intro .section-content .row .content .product-img {
        min-width: 350px;
    }

    .product-intro .product-img img {
        max-height: 220px;
    }

    .lifted .product-img .image {
        transform: translateY(50px);

    }

    .product-intro.lifted .product-img {
        margin-bottom: 90px;
    }

    .circle {
        width: 277px;
        height: 277px;
    }

    .circle-bg {
        width: 255px;
        height: 255px;
    }

    /*Tab Slider*/
    .home-page .tab-slider {
        height: 490px;
    }

    .home-page .tab-slider .slider-left {
        height: 415px;
    }

    .home-page .tab-slider #accordion {
        height: 415px;
    }

    .home-page .tab-slider .card-header {
        height: 100%;
    }

    .home-page .tab-slider .card-link,
    .home-page .tab-slider .card-link.collapsed {
        font-size: 12px;
    }

    .home-page .tab-slider .card-body .desp p {
        font-size: 12px;
    }

    /*Feature Section-> Single Product Page*/
    .features_section .content_section {
        /*        max-width: 33.33%;*/
    }

    .features_section .image_section {
        /*        max-width: 33.33%;*/
    }

    /*Single Product Banner*/
    .s_p_banner .container {
        padding-left: 200px;
    }

    /*Multi Slider-> S Product Page*/
    .multi_slider {
        padding: 0px 70px;
    }

    .multi_slider .slick-prev {
        left: 45px;
    }

    .multi_slider .slick-next {
        right: 45px;
    }

    .specification-section .container {
        max-width: 1000px;
    }

    .video_section .image {
        text-align: center;
    }

    /*Site MAp*/
    .sitemap {
        padding: 0;
    }

    .sitemap .container .sitemap-inner {
        border-radius: 0;
    }

    .sitemap-inner .row .col-lg-3 .map-item {
        margin-bottom: 40px;
    }

}

@media only screen and (max-width: 1024px) {
    /*---------------------------------------------------*/
    /*---------------------------------------------------*/
    /*---------------------------------------------------*/

    section {
        padding: 0 15px;
    }

    .container {
        max-width: 900px !important;
    }

    .circle {
        width: 272px;
        height: 272px;
    }

    .circle-bg {
        width: 245px;
        height: 245px;
    }

    /*Home Banner*/
    .home-banner {
        padding: 0;
    }

    .home-banner .banner-text {
        margin-bottom: 20px;
    }

    .home-banner .banner-text h2 {
        font-size: 25px;
    }

    .home-banner .banner-img {
        max-width: 200px;
    }

    .home-banner .banner-logo {
        max-width: 70px;
        margin-bottom: 20px;
    }

    /*Video Section-> S Product Page */
    .video_section .container .image {
        width: 100%;
    }

    .video_section .container .video_content {
        max-width: 90%;
    }

    /*Single Product Slider Tab*/
    .s_product_section .s_product-slider .slick-for .slick-slide img {
        height: 300px;
    }

    /*Feature Section-> S Product Page*/
    .features_section .content_section .content {
        padding-right: 0px;
    }

    /*Footer Section*/


    .footer-content {
        margin-bottom: 40px;
        text-align: center;
    }

    /*Multi Slider-> Single Product Page*/


    /*Accessories-> Home*/
    .accessories-section .section-content .row .content .product-img .image img {
        max-width: 85%;
    }

    /*    pureit-intro-> Home*/
    .pureit-intro {
        padding-top: 0;
    }



    /*Product Intro-> Home*/
    .product-intro {
        padding-top: 0;
    }

    .product-intro .section-content .row .content {
        max-width: 50%;
    }

    .product-intro .section-content .row .content .product-desp {
        margin-top: 30px;
    }

    /*About Intro-> About Page*/
    .about-page .about_intro .container {
        /*        max-width: 900px;*/
    }

    .about-page .about_intro .container .inner-container {
        max-width: 850px;
    }

    /*    VIdeo SLider-> Clip Page*/
    .clip-page .video-slider-section .container {
        max-width: 830px !important;
    }

    /*About Slider-> Index Page*/
    .home-page .about-home .home_slider .slick-track .slick-slide {
        margin: 0 10px;
    }

    /* contact_information Section -> contact Page */
    .contact-page .contact_information .contact_inner .contact_item {
        /*        padding: 0 20px;*/
    }

    .contact-page .contact_information .contact_inner .br {
        border: none;
    }

    .contact-page .contact_information .contact_inner .contact_item {
        justify-content: flex-start;
    }

    /*article page*/
    .article-page .article .container .title h2 {
        font-size: 20px;
    }

    /*---------------------------------------------------*/
    /*---------------------------------------------------*/
    /*---------------------------------------------------*/
}


@media only screen and (max-width: 991px) {

    /*header*/
    .top-nav {
        position: absolute;
        background-color: transparent;
        text-align: right;
        right: 100px;
        top: -8px;
    }

    .brand-logo {
        top: 10px;
        max-width: 100px;
        margin: 0 15px;
    }

    .navbar-collapse {
        position: absolute;
    }

    .main-nav .navbar-collapse {
        position: absolute;
        right: 0;
        background: #2a60af;
        width: 260px;
        top: 50px;
        padding: 0;
        border: 0;
    }

    /*footer*/
    .footer-content {
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-content:last-child {
        margin-bottom: 0px;
    }


    /*Product intro*/
    .product-intro .section-content .row .content {
        max-width: 320px;
    }

    .vertical-line:after {
        display: none;
    }



    /*    Single Product Slider*/
    .s_product_section {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .s_product_section .container {
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .s_product_section .s_product-slider {
        margin-bottom: 45px;
    }

    .s_product_section .container .product_info {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /*Single Product Banner*/
    .s_p_banner .container {
        padding: 0px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }

    .features_section [class*=' col-'] > div {
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 700px;
    }


}

@media only screen and (max-width: 820px) {

    /*header*/
    .top-menu-link span {
        display: none;
    }

    .top-nav {
        right: 60px;
    }

    .top-menu-list {
        margin-right: 0px;
    }

    /*Home Banner*/


    .home-banner .banner-content {
        right: 50%;
        transform: translateX(50%);
        width: 100%;
    }

    /*Pureit Intro->home*/
    .pureit-intro .section-title h3 {
        font-size: 20px;
    }

    .pureit-intro .section-title {
        margin-bottom: 35px;
    }

    /*Product Intro*/

    .product-intro .section-content .row .content {
        margin-bottom: 50px;
    }

    .product-intro .section-content .row .content .product-desp {
        margin-top: 20px;
    }

    .product-intro .section-content .row .content .product-desp {
        margin-top: 10px;
    }

    .product-intro .section-content .row .content .product-desp .intro {
        margin-bottom: 20px;
    }

    /*Accessories*/
    .accessories-section {
        padding-top: 50px;
    }

    .accessories-section .product-intro .section-title {
        margin-bottom: 50px;
    }

    .accessories-section .section-title h1 {
        font-size: 26px;
    }

    .accessories-section .section-content .row .content .product-desp {
        margin-top: 25px;
    }

    .boxed {
        padding: 18px 95px;
    }

    /*Tab Slider-> Home*/
    .home-page .tab-slider .btn-custom {
        padding: 13px 30px;
    }

    /*footer*/
    .footer-copyright {
        height: auto;
    }

    .footer-content .list ul li {
        margin-top: 14px;
    }

    /*Feature Section-> Single Product Page*/
    .features_section .section-title {
        margin-bottom: 40px;
    }

    .features_section .content_section {
        max-width: 100%;
        margin-top: 0;
    }

    .features_section .image_section {
        max-width: 100%;
        margin: 50px 0px;
    }

    /*Multi Slider-> S Product page*/
    .multi_slider_section .section-title h2 {
        font-size: 32px;
    }

    /* search page*/
    .search_section .search-btn .s-btn {
        top: 150%;
    }

    .search_section input.form-control {
        padding: 25px 0px 25px 25px;
    }

    .search_section .title h3 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 769px) {

    /*Inner Page Banner Slider*/

    .inner_banner .carousel-img {
        max-height: 280px;
    }


    /* Specification Section-> Single Product Page */
    .specification-section .section-content > div:nth-child(3) .content {
        border-bottom: 1px solid;
    }

    .container {
        max-width: 600px !important;
    }

    /*footer*/
    .copy-left ul li {
        margin-bottom: 20px;
    }

    .copy-right {
        margin: 0 auto;
    }

    /*Accessories->Home*/
    .accessories-section .section-content .row .content .product-img .image img {
        max-width: 250px;
    }

    /*Tab Slider->Home*/

    .home-page .tab-slider {
        height: 450px;
        margin-bottom: 50px;
    }

    .home-page .tab-slider .slider-left {
        height: 325px;
        width: 60%
    }

    .home-page .tab-slider .slider-right {
        width: 40%;
    }

    .home-page .tab-slider #accordion {
        height: 380px;
    }

    .home-page .tab-slider .card-body .get-btn {
        margin-top: 25px;
    }

    .home-page .tab-slider .card-body {
        height: 100%;
    }

    .home-page .tab-slider .card-header {
        height: 100%;
        padding-bottom: 7px;
        padding-top: 7px;
    }

    /*Float Sidebar*/
    .floatbar .icon {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .floatbar .icon img {
        width: 20px;
    }

    .floatbar .title {
        display: none;
    }

    .floatbar .content {
        opacity: .5;
        transition: all .3s ease-in-out;
    }

    .floatbar .content:hover {
        opacity: .9;
    }

    /*Single Page product preview*/
    .s_product_section {
        padding-bottom: 50px;
    }


    .s_product_section .container .product_info .title h1 {
        font-size: 42px;
    }

    .s_product_section .container .product_info .price h3 {
        font-size: 22px;
    }

    /*Feature Section->Single Product*/


    .features_section .section-title h3 {
        font-size: 42px;
    }

    .features_section .section-title {
        margin-bottom: 0px;
    }

    /*Specification Section-> Single Product*/

    .specification-section .container .content {
        width: 100%;
    }

    /*FAQ Section*/


    /*Video Section- > S Product Page */

    .video_section .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .video_section .container .image {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .video_section .container .video_content {
        max-width: 100%;
    }

    .video_section .container .video_content .title h3 {
        font-size: 32px;
    }

    .video_section .container .video_content .play_video {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*Multi Slider-> S Product Page*/


    /*Product Details-> S Product Page*/


    /*Footer*/
    .footer-copyright {
        padding: 15px 0px;
    }

    /*    Banner Slider-> Home*/
    .home-banner .banner-content {
        right: 30%;
    }

    .home-banner .banner-text h2 {
        font-size: 18px;
    }

    .home-banner .banner-img {
        max-width: 135px;
    }

    /*Pureit Intro-> Home*/
    .pureit-intro {
        padding-top: 35px;
        padding-bottom: 0;
    }

    /*Home About -> Home*/
    .about-home .row .content {
        max-width: 300px;
        margin-bottom: 50px;
    }

    /*About Intro-> About Page*/



    .about-page .about_intro .container .inner-container .image {
        padding: 30px 30px 30px 0;
    }

    .about-page .about_intro .container .inner-container .image .bg .left-bottom-bg {
        left: -30px;
    }

    .about-page .video_section .container .video_content .desp {
        max-width: 90%;
        margin: 0 auto;
    }

    /*VIdeo Slider-> Clip Page*/
    .clip-page .video-slider-section .container {
        max-width: 645px !important;
    }

    .clip-page .video-slider-section .video-tab-slider .slider-left .slider-youtube .video-foreground iframe {
        height: 350px;
    }

    .clip-page .video-slider-section .container .video-slider-nav {
        height: 348px;
    }

    .clip-page .video-slider-section .container .video-slider-nav.slick-vertical .slick-slide {
        margin-bottom: 0;
        margin-top: 0;
        padding: 5px 0;
    }

    /*Single row slider-> Club page*/
    .club-page .club_single_row_slider .slider-row .slick-list {
        margin: 0 36px;
    }

    /*About Slider -> Home Page*/
    .home-page .about-home .home_slider .content {
        padding: 10px 10px;
    }

    .home-page .about-home .home_slider .content .title h3 {
        font-size: 20px;
    }

    .home-page .about-home .home_slider .content .desp p {
        font-size: 12px;
    }

    /*contact_information -> Contact Page*/
    .contact-page .contact_information .contact_inner .contact_item {
        margin-bottom: 20px;
    }

    /*Order page*/
    .order-page .order-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .order-page .order-section .container .product-title h2 {
        font-size: 30px;
    }

    .order-page .order-section .product-cost h3 {
        font-size: 18px;
    }

    .order-page .product-details {
        padding: 0;
    }

    .order-page .contact-form.order-form {
        padding: 0;
        padding-bottom: 70px;
    }

    .order-page .ordered-image {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .order-page .ordered-image img {
        max-height: 250px;
        width: auto;
    }

    /*result-section > showroom > showroom-nav -> Location Page */
    .result-section.showroom .showroom-nav .slick-list {
        margin: 0px 45px;
        padding: 15px 0;
    }

    .filter_input {
        max-width: 220px;
    }

    /*product_series_input page */
    .product_series_input .sectin-title h2 {
        font-size: 25px;
    }

    /*product_series_display-page*/
    .product_series_display-page .product_series_display .section-title h2 {
        font-size: 26px;
    }

    .product_series_display-page .product_series_display .title h2,
    .product_series_display-page .product_series_display .info h2 {
        font-size: 18px;
    }

    .product_series_display-page .product_series_display .hotline {
        padding: 10px;

        line-height: 1.3;
    }

    .product_series_display-page .product_series_display .Product-image img {
        max-height: 200px;
    }

    /*Site Map*/
    .sitemap .container {
        padding: 0px !important;
        max-width: 100% !important;
    }

    .sitemap-inner .heading h2 {

        font-size: 30px;

        margin-bottom: 20px;
    }

    .sitemap-inner {
        padding: 40px 20px;

    }

    /*    =====warranty page=====*/
    .warranty-page-acc [class*=' col-'] .card {

        max-width: 100%;
    }

    ul#pills-tab .nav-link.active:after {
        display: none;
    }

    ul#pills-tab li {
        max-width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    ul#pills-tab {}

    .tab-menu-single {
        align-items: flex-start;
    }

    .menu-image {
        display: none;
    }

    .tab-title.text-center {
        text-align: left !important;
        margin-bottom: 10px;
    }

    .tab-title.text-center h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .tab-title-details > p {
        font-size: 20px;
    }

    .tab-content.warranty-page-acc {
        padding: 0;
    }

    .warranty-banner-content h1 {
        font-size: 30px;
    }

    .review-flow {
        padding: 0px 15px;
    }

    .warranty-page .inner_banner .carousel-item {
        min-height: 250px;
    }

    /*    Award Page*/

    .about-page .award-map.about_intro .container .inner-container .image {
        display: none;
    }

    .maplocation_place {
        position: static !important;
        display: inline-block;
    }

    .maplocation_place span {
        display: none;
    }

    .award-map-inner .indonesia_map {
        transform: none;
    }

    .indonesia_map.maplocation_place h5 {
        transform: none;
    }

    .award-map-inner .bangladesh_map {
        transform: none;
    }

    .bangladesh_map.maplocation_place h5 {
        transform: none;
    }

    .country-lists {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 42px;
    }

    .country-lists > div {
        width: 100%;
    }

    .maplocation_place {
        width: 50% !important;
        margin-bottom: 19px;
    }

    .award-map-inner .vietnam_map {
        width: 50%;
    }

    .award-map-inner h4 {
        display: none;
    }

    .awardspopup_info {
        min-height: 70vh;
    }

    h2.resp-accordion img {
        max-width: 30px;
        margin-right: 9px;
    }
}

@media only screen and (max-width: 600px) {

    /*Warranty page*/
    .warranty-page .inner_banner .carousel-img img {
        max-height: 350px;
    }

    .s_product_section .s_product-slider .slick-nav.slick-initialized.slick-slider {
        display: none;
    }

    .s_product_section .s_product-slider .slick-next {
        right: 0%;
    }

    .s_product_section .s_product-slider .slick-prev {
        left: 0%;
    }

    .s_product_section .s_product-slider {
        margin-bottom: 17px;
    }

    .s_product_section .container .product_info .price {
        margin-bottom: 26px;
    }

    .s_product_section .container .product_info .btn-group {
        margin-bottom: 18px;
    }

    .s_product_section {
        padding-bottom: 31px;
    }

    section.features_section [class*=' col-']:nth-child(2) {
        order: 4;
    }

    .features_section [class*=' col-'] > div {
        margin-bottom: 0px;
    }

    .features_section .image_section {
        margin-top: 37px !important;
    }

    .features_section .image_section img {
        max-height: 350px;
    }

    .features_section {
        padding-bottom: 50px;
    }

    .about-page .about_intro .container {
        padding-bottom: 50px !important;
    }

    .about-page .certification-section .container .inner-container .image-s {
        padding-right: 0px;
    }

    .about-page .certification-section .container .inner-container .image-s .bg-s {
        max-width: 100px;
        right: -15px;
        bottom: -5px;
    }

    section.contact_information {
        padding-left: 31px;
    }

    .contact-page .section-inner {}

    .contact-page .form_section .section-title {
        text-align: left !important;
    }

    .contact-page .form_section .section-info {
        text-align: left !important;
        margin-bottom: 0px;
    }

    .contact-page .form_section .container {
        padding-left: 30px;
    }

    .contact-page .form_section .section-title h2 {
        font-size: 25px;
        line-height: 1.3;
    }
}

@media only screen and (max-width: 480px) {
    .circle {
        width: 230px;
        height: 230px;
    }

    .circle-bg {
        width: 200px;
        height: 200px;
    }

    /*Inner Page Banner Slider*/
    .inner_banner .carousel-img {
        max-height: 190px;
    }

    /*header*/
    .top-menu-list.flags,
    .top-menu-list.search {
        display: none !important;
    }

    .main-nav .navbar-collapse {
        right: -18px;
        width: 220px;
    }

    .brand-logo {
        max-width: 80px;
    }

    /*Home Banner*/
    .home-banner .banner-content {
        right: 0;
        transform: translateX(0);
        justify-content: center;
        flex-direction: row;
    }

    .home-banner .banner-text {
        max-width: 160px;
    }

    .home-banner .banner-text {
        max-width: 160px;
    }

    .home-banner .banner-text h2 {
        font-size: 18px;
    }

    .home-banner .banner-logo {
        display: none;
    }

    .home-banner .banner-img {
        max-width: 100px;
    }

    /*Pureit Intro*/
    .pureit-intro .section-title h3 {
        font-size: 18px;
    }

    .product-intro .section-content .row .content .product-img {
        min-width: auto;
    }

    /*Tab Slider-> Home*/

    .s_product_section .s_product-slider .slick-for .slick-slide img {
        height: 200px;
    }

    .home-page .slider-left {
        display: none;
    }

    .home-page .tab-slider .slider-right {
        width: 100%;
    }

    .s_product_section .container .product_info .btn-group {
        align-items: center;
        justify-content: center;
    }

    .hotline_btn,
    .buy_now_btn {
        margin: 5px;
    }

    /*Faq Section-> S Product Section*/
    .faq_section .container .section-title h3 {
        font-size: 32px;
    }

    .faqs #accordion .card .card-header h5 {
        font-size: 18px;
    }

    .faqs #accordion .card .card-body {
        font-size: 16px;
    }

    /*Pdf Section-> S Product Page*/
    .pdf-section .section-title h2 {
        font-size: 32px;
    }

    .pdf-section .pdf-btn {
        padding: 20px;
    }

    /*Video Section*/
    .video_section .container .video_content .play_video .play-text {
        font-size: 22px;
    }

    /*FlootBar*/
    .floatbar {
        display: none;
    }

    /*Features-> S Product Page */
    .features_section .section-title {
        margin-bottom: 20px;
    }

    .features_section .section-title h3 {
        font-size: 32px;
    }

    /* Product Detail-> S Product   */
    .product_details .section-title h2 {
        font-size: 32px;
    }

    .product_details .section-title {
        margin-bottom: 15px;
    }

    .product_details .section-suntitle h3 {
        font-size: 20px;
    }

    /*Multi Slider-> S Product*/
    .multi_slider_section {
        padding: 60px 15px;
    }

    .multi_slider {
        max-width: 400px;
    }

    /*Footer*/
    .footer-copyright .copy-left ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-copyright .copy-left ul li:first-child {
        padding-left: 20px;
    }

    .copy-left ul li:last-child {
        padding: 0;
    }

    /*Product Intro-> Home*/
    .product-intro .section-content .row .content .product-img {
        /*        min-width: 100%;*/
    }

    .product-intro .section-content .row .content .product-img .image img {
        max-height: 190px;
    }

    /*Collection Products-> Product Page*/
    .collection .section-title {
        max-width: 350px;
    }

    .collection .section-title .title h2 {
        font-size: 28px;
    }

    .collection .section-title .subtitle {
        margin-bottom: 25px;
    }

    .collection .section-title .subtitle p {
        font-size: 18px;
    }

    /*Status Form-> Product Page*/
    .status-form .container {
        max-width: 350px;
    }

    .status-form .section-title h2 {
        font-size: 32px;
    }

    /*About Intro-> About Page*/
    .about-page .about_intro {
        padding-top: 0;
    }

    .about-page .about_intro .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .about-page .about_intro .container .inner-container .intro-split p {
        max-width: 100%;
        transform: unset;
        margin-bottom: 20px;
    }

    .about-page .about_intro .container .inner-container .intro-split p:last-child {
        margin-bottom: 0;
    }

    .about-page .about_intro .container .inner-container .image {
        padding: 20px;
    }

    .about-page .about_intro .container .inner-container .image .bg .top-right-bg {
        right: 20px;
        max-width: 100px;
    }

    .about-page .about_intro .container .inner-container .image .bg .left-bottom-bg {
        left: -20px;
        max-width: 80px;
    }

    .about-page .about_intro .container .inner-container .title h2 {
        font-size: 28px;
    }

    /*Carousel Image*/
    .home-page .home-banner .carousel-img {
        display: flex;
        max-height: 160px;
    }

    .home-page .home-banner .carousel-img img {
        object-fit: cover;
        object-position: 100% 0;
    }


    /*Product- intro-> index page*/
    .product-intro .product-img img {
        max-height: 190px;
    }

    /*common styles*/
    .circle {
        width: 220px;
        height: 220px;
    }

    .circle-bg {
        width: 190px;
        height: 190px;
    }

    /*product-intro-> home page*/
    .product-intro .section-content {
        padding-bottom: 30px;
    }

    .accessories-section .section-title {
        margin-bottom: 45px;
    }

    .product-intro .product-img {
        min-height: 230px;
    }

    .product-wrap {
        margin-bottom: 60px;
    }

    /*
    .about-home .row .content .desp p {
        padding: 0px 20px;
    }
*/

    /*Video-slider-> clip Page*/
    .clip-page .video-slider-section {
        padding: 30px 0px;
    }

    .clip-page .video-slider-section .container .section-title {
        margin-bottom: 0px;
    }

    .clip-page .video-slider-section .container {
        padding: 15px;
    }

    .clip-page .video-slider-section .container .section-title {
        text-align: center;
    }

    .clip-page .video-slider-section .container .section-title h2 {
        font-size: 20px;
    }

    .clip-page .video-slider-section .video-tab-slider .slider-left {
        padding: 20px;
    }

    .clip-page .video-slider-section .video-tab-slider .slider-left .slider-youtube .video-foreground iframe {
        height: 230px;
    }

    .clip-page .video-slider-section .container .video-slider-nav.slick-vertical .slick-slide {
        width: 100%;
    }

    .clip-page .video-slider-section .container .video-slider-nav .slick-track {
        width: 65% !important;
    }

    .clip-page .video-slider-section .container .video-slider-nav {
        height: 540px;
    }

    .clip-page .video-slider-section .container .video-slider-nav.slick-vertical .slick-slide {
        padding: 0 0;
        margin: 5px 0;
    }

    .clip-page .video-slider-section .slider-right {
        margin-top: -50px;
    }

    /*    Single row slider-> Club page*/
    .club-page .club_single_row_slider {
        padding: 40px 0px;
    }

    .club-page .club_single_row_slider .container .section-title {
        margin-bottom: 65px;
    }

    .club-page .club_single_row_slider .container .section-title h2 {
        font-size: 26px;
    }

    .club-page .single_row_slider.slick-initialized.slick-slider {
        max-width: 100%;
    }

    .club-page .club_single_row_slider .container .slider {
        max-width: 300px;
    }

    .club-page .club_single_row_slider .slider-row .slick-list {
        margin: 0 27px;
    }

    .club-page .single_row_slider .slick-arrow {
        top: 50%;
        transform: translateY(-60%);
    }

    .club-page .single_row_slider .slick-prev.slick-arrow {
        left: -15px;
        border: none;
    }

    .club-page .single_row_slider .slick-next.slick-arrow {
        right: -15px;
        border: none;
    }

    .club-page .club_single_row_slider .container .slider .slider_img {
        /*        margin: 30px;*/
    }

    /*Double Row Slider-> Club Page*/
    .club-page .double_row_slider_section .container .section-title h2 {
        font-size: 26px;
    }

    .club-page .double_row_slider_section .container .section-title.bottom-line:after {
        top: 50px;
    }

    .club-page .double_row_slider_section .container .section-title {
        margin-bottom: 70px;
    }

    .club-page .double_row_slider_section .container .double_row_slider .slider {
        margin-bottom: 10px;
    }

    .club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .title h3 {
        font-size: 12px;
    }

    .club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .title {
        margin-top: 5px;
    }

    .club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .desp,
    .club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .button {
        display: none;
    }

    .club-page .double_row_slider_section .slick-dots {
        bottom: -40px;
    }

    .club-page .double_row_slider_section .container .double_row_slider .slick-prev.slick-arrow {
        bottom: -31px;
        transform: translateX(-100px);
    }

    .club-page .double_row_slider_section .container .double_row_slider .slick-next.slick-arrow {
        bottom: -30px;
        transform: translateX(100px);
    }

    /*contact_information-> Contact Page*/
    .contact-page .contact_information .contact_inner .contact_details p,
    .contact-page .contact_information .contact_inner .contact_details h3 {
        font-size: 20px;
    }

    .contact-page .form_section .section-info h3 {
        font-size: 18px;
    }

    /*collection > health > product-intro -> water_health page*/
    .water_health-page .collection.health.product-intro {
        padding-bottom: 20px;
    }

    .water_health-page .collection.health.product-intro .container .section-title .title h2 {
        font-size: 18px;
    }

    .water_health-page .separator .container {
        padding: 0;
    }

    .water_health-page .separator .content {
        padding: 18px;
        border: 1px solid #3244C0;
        border-radius: 15px;
    }

    .water_health-page .separator .content .title {
        margin-bottom: 8px;
    }

    .water_health-page .separator .content .title h3 {
        font-size: 16px;
        font-weight: 600;
    }

    .water_health-page .separator .content .info p {
        font-size: 16px;
        */
    }

    .water_health-page .collection.health.product-intro .image-info {
        font-size: 20px;
    }

    /*health Slider -> water_health page*/
    .water_health-page .about-home .section-title h2 {
        font-size: 20px;
    }

    .water_health-page .about-home {
        padding-bottom: 10px;
        padding-top: 30px;
    }

    /*Store Location Page*/
    .filter-form-section .section-title h2 {
        font-size: 30px;
    }

    .form-control.filter_input {
        margin-bottom: 10px;
    }

    .filter-form-section {
        padding: 30px 0px;
    }

    .result-section .image img {
        object-fit: cover;
    }

    .result-section .image {
        position: relative;
        width: 100%;
        max-height: 340px;
        display: flex !important;
    }

    .result-section .overlay {
        max-width: 100%;
        height: unset;
    }

    .result-section .overlay p {
        margin-bottom: 15px;
    }

    .result-section .overlay p:last-child {
        margin: 0;
    }

    .overlay-title h2 {
        font-size: 35px;
    }

    .result-section.showroom .showroom-nav {
        margin-top: -40px;
        display: none;
    }

    .result-section.showroom {
        padding: 0;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .result-section.showroom .container {
        padding: 0;
    }

    .result-section {
        padding-left: 0;
        padding-right: 0;
    }

    .result-section .container {
        border: none;
        padding: 0;
        padding-bottom: 16px;
    }

    .showroom .slick-arrow {
        z-index: 999;
    }

    .showroom .slick-arrow:before {
        font-family: fontawesome;
        color: #333;
        font-size: 30px;
    }

    .showroom .slick-prev:before {
        content: '\f104';
    }

    .showroom .slick-next:before {
        content: '\f105';
    }

    .showroom .slick-prev {
        left: 10px;
    }

    .showroom .slick-next {
        right: 10px;
    }

    /*product_series_input page */
    .product_series_input {
        padding-top: 45px;
    }

    .product_series_input .sectin-title h2 {
        font-size: 18px;
    }

    /*product_series_display-page*/
    .product_series_display-page .product_series_display {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .product_series_display-page .product_series_display .section-title h2 {
        font-size: 16px;
    }

    .product_series_display-page .product_series_display .Product-image {
        justify-content: center;
        padding: 0;
        margin-bottom: 30px;
    }

    .product_series_display-page .product_series_display .title h2,
    .product_series_display-page .product_series_display .info h2 {
        font-size: 16px;
        text-align: center;
    }

    .sm-space-bottom {
        margin-bottom: 20px !important;
    }

    /*Search-page*/
    .search_section .title h3 {
        font-size: 26px;
    }

    /*article page*/
    .article-page .article {
        padding: 30px 0;
    }

    .border-line:after {
        width: 95%;

    }

    /*Warranty*/
    .warranty-page .inner_banner .carousel-img img {
        max-height: 250px;
    }

    .tab-title-details > p {
        margin-bottom: 10px;
        font-size: 18px;
    }


    ul#pills-tab .nav-link {
        display: inline-block;
        border-bottom: 1px solid #7F7E7E;
    }

    /*    Award Page*/
    .award-intro-inner {
        padding: 0px;
        padding-top: 50px;
    }

    section.award-map.about_intro.shadeover {
        padding-top: 35px;
    }

    h2.resp-accordion img {
        max-width: 30px;
        margin-right: 9px;
    }

    .web-content2 {
        height: auto;
    }

    section.award-map.about_intro {
        padding-top: 100px;
    }

    .about-page .about_intro .container {
        padding-bottom: 0;
    }

    .btn-link.text-right a {
        padding: 0;
    }

    .btn-link.text-right {
        text-align: center !important;
        padding: 21px 0px;
    }

    .footer-content {
        text-align: left;
        padding-left: 30px;
    }

    .features_section .image_section img {
        max-height: 350px;
    }

    .features_section {
        padding-bottom: 50px;
    }

    .product_details .container .content {
        max-width: 100%;
        border: 0px;
        border-bottom: 1px solid #DDD;
    }

    .product_details .container .content:last-child {
        border-right: 0px;
    }

    .specification-section .container .content {
        border: 0px;
        border-bottom: 1px solid #ddd;
    }

    .specification-section .container .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    specification-section .info {
        text-align: center;
    }

    .specification-section .container .content .info .title {
        text-align: center;
    }

    .specification-section .container .content .info .subtitle {
        text-align: center;
    }

    .specification-section .container .content .image {
        margin-bottom: 17px;
    }

    .specification-section .container .content .info {
        max-width: 250px;
    }

    section.video_section [class*=' col-']:last-child {
        order: -1;
    }

    .video_content {
        padding: 0px 20px;
    }

    .video_section .container .image {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .faqs #accordion .card .card-header:before {
        display: none;
    }

    .single-product-page .faq_section .container .section-title {
        padding-left: 45px;
    }

    div#headingOne {}
}

@media only screen and (max-width: 380px) {
    .boxed {
        padding: 15px 50px;
    }

    /*form_section -> Contact Page*/
    .contact-page .form_section .container .section-inner .contact-form .upload-btn {
        width: 140px;
        padding-left: 15px;
    }

    .contact-page .form_section .container .section-inner .contact-form .upload-btn:after {
        right: 18px;
    }

    .contact-page .form_section .container .section-inner .contact-form .btn-custom {
        width: 140px;
        border-radius: 10px;
    }

    .contact-page .form_section .container .section-inner .contact-form .form-label {
        font-size: 13px;
    }

}

@media only screen and (max-width: 321px) {

    /*Single row Slider-> Club Page*/
    .club-page .club_single_row_slider .slider-row .slick-list {
        margin: 0 16px;
    }
}
