/******************************************/
/***************** Header *****************/
/******************************************/
.site-nav .container {
    max-width: 1460px !important;
}

.site-nav a {
    font-family: Arial, sans-serif;
}

.top-nav {
    background-color: #3244C0;
}

.top-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 65px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-menu-list {
    margin-right: 45px;
}

.top-menu-list:last-child {
    margin-right: 0px;
}

.top-menu-link {
    color: #FFF;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top-menu-link:hover {
    color: #FFF;
}

.top-menu-link:active,
.top-menu-link:hover,
.top-menu-link:focus {
    color: #fff;
}

.top-menu-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background: url(../images/menu_icons.png) no-repeat #fff;
    margin: 0 6px 0 0;
    float: left;
    background-size: auto 24px;
    padding: 0;
    margin-right: 12px;
}

li.top-menu-list.flags {
    margin-right: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flagstrap .btn-flag {
    border: none;
    background: transparent;
    color: #FFF;
    font-size: 13px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
}

#advanced ul {
    /*    width: 170px;*/
    margin-left: -35%;
}

#advanced ul li {
    padding: 6px 10px;
}

#advanced ul li:first-child {
    display: none;
}

#advanced ul li a {
    font-size: 12px;
    cursor: pointer;
}

#advanced .btn-flag:focus {
    outline: none;
    box-shadow: none;
}

#advanced .btn-flag .flagstrap-icon {
    display: none;
}

#advanced .dropdown-menu {
    z-index: 1111 !important;
}

#advanced .btn.btn-flag.dropdown-toggle:after {
    margin: 0;
    padding: 0;
}

.dropdown-toggle:after {
    border-top: .4em solid;
}

li.top-menu-list.flags .top-menu-icon {
    margin: 0;
    padding: 0;
    width: 31px;
    height: 25px;
}

.top-menu-icon.country {
    background-position: -4.2px 0px;
}

.top-menu-icon.phone {
    background-position: -36px 0px;
}

.top-menu-icon.location {
    background-position: -66.5px 1px;
}

.top-menu-icon.search {
    background-position: -96px 0px;
}


/*main-navigation*/

.main-nav {
    background-color: #4C5BDC;
    height: 50px;

}

.main-nav .container {
    position: relative;
}

.brand-logo {
    position: absolute;
    top: 10PX;
    left: 0;
    margin: -40px 0 0;
    max-width: 142px;
    padding: 0;
    float: none;
    width: 100%;
    z-index: 99999;
}

.navbar {
    padding: 0;
}

button.navbar-toggler {
    position: absolute;
    right: 0;
    top: 2px;
}


.navbar-collapse {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

span.toggler-icon img {
    width: 35px;
}

.nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 18px 25px !important;
    border-right: 2px solid #CACFF5;
    text-transform: uppercase;
}

.nav-link:hover {
    background-color: #6666FF;
    color: #fff;
}

/******************************************/
/***************** Footer *****************/
/******************************************/

.footer-section .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.footer-main {
    background-color: #4C5BDC;
    padding: 60px 0px;
}





.footer-content .title h4 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-content .list ul li {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}

.footer-copyright {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-copyright .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.footer-copyright .copy-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-copyright .copy-left ul li {
    font-size: 14px;
    color: #575757;
    font-weight: 600;
    padding: 2px 20px;
    border-right: 1px solid #575757;
}

.footer-copyright .copy-left ul li:first-child {
    padding-left: 0;
}

.copy-left ul li:last-child {
    border: none;
    padding-left: 45px;
}

.footer-copyright .copy-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-social {
    width: 38px;
    height: 38px;
    background-color: rgba(247, 247, 247, 0);
    border: 1px solid #717377;
    line-height: 38px;
    text-align: center;
    display: block;
    color: #717377;
    font-size: 18px;
    text-decoration: none;
    border-radius: 100%;
    margin-left: 5px;
}

.footer-social:hover {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


/******************************************/
/************** Banner->Home **************/
/******************************************/


.home-banner .banner-content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 15%;
    left: auto;
    bottom: 0;
}

.home-banner .banner-logo {
    max-width: 92px;
    width: 100%;
    margin-bottom: 25px;
}

.home-banner .banner-text {
    margin-bottom: 25px;
}

.home-banner .banner-text h2 {
    font-family: 'Muli', Arial, sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: #19367C;
    text-transform: uppercase;
}

.home-banner .banner-img {
    max-width: 260px;
    width: 100%;
}

.home-banner .banner-img img {
    max-height: 280px;
    width: auto;
}


/******************************************/
/********** Pureit Intro->Home *******/
/******************************************/
.pureit-intro {
    padding-top: 40px;
    padding-bottom: 75px;
}

.pureit-intro .container {
    max-width: 1130px;
}

.pureit-intro .section-title h3 {
    color: #4C5BDC;
    font-size: 26px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.4;
}

/******************************************/
/********** Product Intro->Home *******/
/******************************************/



.product-intro .section-content .row {
    margin: 0px -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-intro .section-content .row .content {
    /*
    max-width: 33.33%;
    width: 100%;
*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.product-intro .section-content .row .content .product-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
    min-height: 300px;
    min-width: 430px;
}


.product-intro .section-content .row .content .product-img .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-intro .section-content .row .content .product-img .image img {
    max-height: 300px;
    width: auto;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.product-intro .section-content .row .content .product-desp {
    margin-top: 65px;
}

.product-intro .section-content .row .content .product-desp .title {
    margin-bottom: 20px;
}

.product-intro .section-content .row .content .product-desp .title h3 {
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: #4C5BDC;
}

.product-intro .section-content .row .content .product-desp .intro {
    margin-bottom: 45px;
    max-width: 300px;
    width: 100%;
}

.product-intro .section-content .row .content .product-desp .intro p {
    line-height: 1.4;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #7C7C7D;
}

.product-intro .section-content .row .content:hover .image img {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

.product-intro .container {
    max-width: 1245px;
}

.product-intro .product-img {
    min-height: 300px;
}

.product-intro.lifted .product-img {
    margin-bottom: 110px;
}

.product-intro .product-img img {
    max-height: 300px;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
}



.product-intro .product-img .image {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-intro .price p {
    color: #383838;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 28px;
}

.lifted .product-img .image {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);

}

.product-intro .product-wrap:hover .image {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

.product-desp {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
}

.product-desp .title {
    padding-bottom: 20px;
}

.product-desp .intro {
    padding-bottom: 40px;
}

.intro p {
    color: #29292b;
    line-height: 1.5;
    font-size: 16px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"
}

.product-intro .section-content {
    padding-bottom: 95px;
}

.product-desp h3 {
    font-weight: 700;
}

.product-desp .btn-custom {
    padding: 5px 41px;
}

/******************************************/
/******** Accessories Section->Home *******/
/******************************************/
.accessories-section .product-img .image {
    -webkit-transform: none;
    transform: none;
}

.accessories-section .product-wrap:hover .image {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.accessories-section .container {
    max-width: 1265px;
}

.product-intro .product-img {
    margin-bottom: 65px;
}

.accessories-section {
    padding-top: 0px;
}

.accessories-section .section-title {
    margin-bottom: 70px;
}

.accessories-section .section-title h1 {
    font-family: Arial, sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #3244C0;
    display: inline-block;
}

.accessories-section .section-content .row .content .product-img {
    margin-bottom: 0px;
}

.accessories-section .section-content .row .content .product-img .image img {
    max-height: 300px;
    width: auto;
    max-width: 340px;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.accessories-section .section-content .row .content:hover .image img {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}


/******************************************/
/************ Tab Slider->Home ************/
/******************************************/

.home-page .tab-slider {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background-color: #202020;
    height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;
}

.home-page .tab-slider .slider-left {
    max-width: 68.37%;
    height: 580px;
    overflow: hidden;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 30px;

}

.home-page .tab-slider .slider-right {
    width: 31.63%;
}

.home-page .tab-slider #accordion {

    width: 100%;
    height: 580px;
    overflow: hidden;
}

.home-page .tab-slider .child {
    width: 100%;
    height: auto;
}

.home-page .tab-slider .child.card {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #888888;
}

.home-page .tab-slider .card-link.active {
    position: relative;
}

.home-page .tab-slider .card-link.active:before {
    position: absolute;
    font-family: fontawesome;
    content: '\f04b';
    left: 0;
}

.home-page .tab-slider .card-link {
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding-left: 25px;
}

.home-page .tab-slider .card-link.collapsed {
    color: #727272;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.home-page .tab-slider .card-link:hover,
.home-page .tab-slider .card-link:active,
.home-page .tab-slider .card-link:focus {
    color: #fff;
}

.tab-slider .card-header {
    height: 96.67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home-page .tab-slider .card-body {
    height: 193.33px;
    color: #e2e2e2;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding-left: 45px;
    padding-top: 5px;
}

.home-page .tab-slider .card-body .desp p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

.home-page .tab-slider .card-body .get-btn {
    margin-top: 40px;
    display: block;
}

.home-page .tab-slider .arrow {
    width: 27px;
    height: 17px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: 6px auto;
}

.home-page .tab-slider .arrow#arrow-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/******************************************/
/*************** About->Home **************/
/******************************************/
.about-home {
    padding-bottom: 20px;
}

.about-home .container {
    max-width: 1600px;
}

.about-home .home_slider .content {
    max-width: 380px;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    /*    margin-bottom: 20px;*/
}

.about-home .home_slider .content .image {
    overflow: hidden;
    padding: 10px;
    padding-bottom: 0;
}

.about-home .home_slider .content .image img {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.about-home .home_slider .content .title,
.about-home .home_slider .content .desp {
    margin-top: 20px;
}

.about-home .home_slider .content .get-btn {
    margin-top: 25px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-home .home_slider .btn-custom {
    width: 150px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.about-home .home_slider .content .title h3 {
    font-size: 26px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #4C5BDC;
    text-transform: uppercase;
    line-height: 1.2;
}

.about-home .home_slider .content .desp p {
    color: #787879;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.about-home .home_slider .content:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.about-home .slick-slide {
    margin: 0 10px;
}

.about-home .slick-list {
    margin: 0 -10px;
}

.home-page .about-home .slick-arrow:before {
    font-family: fontawesome;
    content: "\f104";
    color: #D2D2D2;
    font-size: 20px;
}

.home-page .about-home .slick-next:before {
    content: "\f105";
}

/******************************************/
/********* Banner->Single Product *********/
/******************************************/
.s_p_banner {
    background-color: #878787;
}

.s_p_banner .container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.s_p_banner .container span {
    font-size: 12px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

/******************************************/
/***** Product Slider->Single Product******/
/******************************************/

.s_product_section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.s_product_section .container {
    max-width: 970px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.s_product_section .s_product-slider {
    max-width: 420px;
    width: 100%;
}

.s_product_section .s_product-slider .slick-for .slick-slide {
    max-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 15px;
}

.s_product_section .s_product-slider .slick-for {
    position: relative;
}

.s_product_section .s_product-slider .slick-for:after {
    position: absolute;
    font-family: fontawesome;
    content: "\f00e";
    right: 33px;
    bottom: 30px;
    font-size: 25px;
    color: #BABABA;
}

.s_product_section .s_product-slider .slick-for .slick-slide img {
    display: block;
    height: 400px;
    width: auto !important;
}

.s_product_section .s_product-slider .slick-nav .slick-slide {
    margin: 10px;
    padding: 5px;
    border: 2px solid #9C9C9C;
    height: 70px;
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.s_product_section .s_product-slider .slick-nav .slick-slide img {
    height: 45px;
    width: auto !important;
}

.s_product_section .s_product-slider .slick-nav.slick-initialized.slick-slider {
    max-width: 85%;
    margin: 0 auto;
}

.s_product_section .s_product-slider .slick-for .slick-slide {
    border: none;
}

.s_product_section .s_product-slider .slick-prev:before,
.s_product_section .s_product-slider .slick-next:before {
    font-family: fontawesome;
    font-size: 35px;
    color: #323232;
}

.s_product_section .s_product-slider .slick-prev:before {
    content: "\f104";
}

.s_product_section .s_product-slider .slick-next:before {
    content: "\f105";
}

.s_product_section .s_product-slider .slick-prev,
.s_product_section .s_product-slider .slick-next {
    top: 50%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*Product Intro*/
.s_product_section .container .product_info {
    max-width: 410px;
    width: 100%;
}

.s_product_section .container .product_info .title {
    margin-bottom: 25px;
}

.s_product_section .container .product_info .title h1 {
    font-family: Arial, sans-serif;
    font-size: 68px;
    font-weight: 700;
    color: #4C5BDC;
}

.s_product_section .container .product_info .desp {
    margin-bottom: 25px;
}

.s_product_section .container .product_info .desp p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #848486;
}

.s_product_section .container .product_info .price {
    border: 1px solid #727272;
    border-left: none;
    border-right: none;
    padding: 15px;
    margin-bottom: 45px;
}

.s_product_section .container .product_info .price h3 {
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #4C5BDC;
    font-weight: 600;
}

.s_product_section .container .product_info .btn-group {
    max-width: 390px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.s_product_section .container .product_info .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.s_product_section .container .product_info .share .title {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #323232;
    margin-right: 20px;
}

.s_product_section .container .product_info .share .share_icon i {
    margin-right: 10px;
}


/******************************************/
/**** Product Features->Single Product ****/
/******************************************/

.features_section .container {
    max-width: 1400px;
}

.features_section {
    padding-bottom: 100px;
}

.features_section .section-title {
    margin-bottom: 90px;
}

.features_section .section-title h3 {
    font-size: 52px;
    font-family: Arial, sans-serif;
    color: #2E62AC;
    font-weight: 600;
    text-align: center;
}

.features_section .contents {
    /*
    max-width: 1380px;
    width: 100%;
*/
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.features_section .content_section {
    max-width: 480px;
    width: 100%;
    /*    margin-top: -100px;*/
}

.features_section .image_section {
    /*    max-width: 370px;*/
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.features_section .image_section img {
    width: auto;
    max-height: 507px;
}

.features_section .content_section .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-left: 60px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 30px 0px;
    padding-right: 50px;
}

.features_section .content_section .content .image_icon {
    position: absolute;
    left: -60px;
    max-width: 35px;
    top: 40px;
}

.features_section .content_section .content .title {
    margin-bottom: 15px;
}

.features_section .content_section .content .title h4 {
    font-size: 19px;
    color: #2E62AC;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.features_section .content_section .content .desp p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #222222;
    line-height: 1.4;
}

.features_section .content_section .content:before {
    position: absolute;
    content: '';
    background-color: #35C5F2;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0px;
}

.features_section .content_section .content:after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #35C5F2;
    bottom: 0;
    right: -2px;
    -webkit-transform: translateY(41%);
    transform: translateY(41%);
}

.features_section .content_section.alt .content:after {
    bottom: 0;
    left: -2px;
    -webkit-transform: translateY(41%);
    transform: translateY(41%);
}

.features_section .row {
    width: 100%;
}

/******************************************/
/** Product Details-> Single Product Page */
/******************************************/

.product_details {
    padding-bottom: 80px;
}

.product_details .section-title {
    text-align: center;
    margin-bottom: 30px;
}

.product_details .section-title h2 {
    font-family: Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #2E62AC;
}

.product_details .section-suntitle {
    margin-bottom: 60px;
    text-align: center;
}

.product_details .section-suntitle h3 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: #2E62AC;
}

.product_details .container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.product_details .container .content {
    max-width: 170px;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    border: 1px solid #797979;
    border-top: none;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-left: -1px;
    text-align: center;
}

.product_details .container .content:last-child {
    border-right: 1px solid #797979;
}

.product_details .container .content .image {
    width: 80px;
    height: 80px;
    border: 2px solid #58CFF4;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

.product_details .container .content .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 155px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.product_details .container .content .image img {
    width: auto;
    height: 40px;
}

.product_details .container .content .title {
    margin-top: 25px;
}

.product_details .container .content .title p {
    font-size: 16px;
    color: #2E62AC;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.product_details .container .content .info {
    margin-top: 15px;
    font-size: 16px;
    color: #4A4A4A;
    font-family: Arial, sans-serif;
    line-height: 1.3;
}


/******************************************/
/*** Multi Slider-> Single Product page ***/
/******************************************/

.multi_slider_section {
    background-color: #2B2B2B;
    padding: 60px 0px;
}

.multi_slider_section .container {
    max-width: 990px;
}

.multi_slider_section .section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px;
}

.multi_slider_section .section-title h2 {
    font-size: 46px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #fff;
}



.multi_slider .slider_item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}


.multi_slider .slick-slide div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 330px;
    width: 100%;
    padding: 5px;
}

.multi_slider .slick-slide img {
    display: block;
    height: 270px;
    width: auto !important;
}

.multi_slider .slick-arrow {
    top: 33%;
}

.multi_slider .slick-prev:before,
.multi_slider .slick-next:before {
    font-family: fontawesome;
    font-size: 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.multi_slider .slick-prev:before {
    content: "\f104";
    margin-left: -200%;
}

.multi_slider .slick-next:before {
    content: "\f105";
}

.multi_slider .slider_item .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.multi_slider .slider_item .info .title {
    margin-bottom: 10px;
    margin-top: 20px;
}

.multi_slider .slider_item .info .title p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    /*    font-weight: 600;*/
    color: #FACD0A;
    text-transform: uppercase;
}

.multi_slider .slider_item .info .subtitle p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #CBCBCB;
    text-transform: uppercase;
}

/******************************************/
/** Video Section-> Single Product Page ***/
/******************************************/

.video_section {
    padding: 40px 0px;
    background-image: url('../images/videosec_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.video_section .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video_section .container .image img {
    height: 370px;
    width: auto !important;
}

.video_section .container .video_content {
    max-width: 800px;
    width: 100%;
}

.video_section .container .video_content .title {
    margin-bottom: 20px;
}

.video_section .container .video_content .title h3 {
    font-family: Arial;
    font-size: 52px;
    font-weight: 600;
    color: #2E62AC;
}

.video_section .container .video_content .desp {
    margin-bottom: 30px;
    max-width: 630px;
    width: 100%;
}

.video_section .container .video_content .desp p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #4A4A4A;
    line-height: 1.4;
}

.video_section .container .video_content .play_video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video_section .container .video_content .play_video .play_btn {
    max-width: 75px;
}

.video_section .container .video_content .play_video .play-text {
    font-size: 38px;
    font-family: Arial, sans-serif;
    color: #2E62AC;
    margin-left: 20px;
}

/******************************************/
/**** Faq Section-> Single Product Page ***/
/******************************************/
.faq_section {
    padding: 55px 0px;
    background-color: #E9E9E9;
}

.faq_section .container {
    max-width: 1400px;
}

.faq_section .container .section-title {
    margin-bottom: 20px;
}

.faq_section .container .section-title h3 {
    font-size: 52px;
    font-family: Arial, sans-serif;
    color: #2E62AC;
}

.faqs #accordion .card {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7F7E7E;
    border-radius: 0;

}

.faqs #accordion .card .card-header {
    background-color: transparent;
    padding: 20px 0px;
    border: none;
    position: relative;
    padding-left: 45px;
    padding-right: 45px;
}

.faqs #accordion .card .card-header:before {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url(../images/right-arrow.svg);
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 21px;
}

.faqs #accordion .card .collapsed.coll_icon:after {
    position: absolute;
    font-family: fontawesome;
    content: '\f067';
    right: 5px;
    top: 16px;
    font-size: 19px;
    color: #605F5F;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.faqs #accordion .card .coll_icon:after {
    position: absolute;
    font-family: fontawesome;
    content: '\f068';
    right: 5px;
    top: 16px;
    font-size: 19px;
    color: #605F5F;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.faqs #accordion .card .card-header h5 {
    font-size: 26px;
    font-family: Arial, sans-serif;
    color: #383838;
    line-height: 1.4;

}

.faqs #accordion .card .card-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    /* padding: 1.25rem; */
    padding: 0px 0 25px 45px;
    font-size: 18px;
    color: #848486;
}

.faq_section .container .section-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 18px;
    color: #035CAA;
    margin-top: 15px;
    font-family: Arial, sans-serif;
}

/******************************************/
/**** PDF Section-> Single Product Page ***/
/******************************************/
.pdf-section {
    padding: 35px 0px;
    background-color: #E9E9E9;
}

.pdf-section .section-title {
    margin-bottom: 30px;
}

.pdf-section .section-title h2 {
    font-size: 52px;
    text-align: center;
    font-family: Arial, sans-serif;
    /*    font-weight: 600;*/
    color: #2E62AC;
}

.pdf-section .pdf-btn {
    max-width: 330px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

/***********************************************/
/* Specification Section-> Single Product Page */
/***********************************************/

.specification-section {
    padding-bottom: 30px;
}

.specification-section .container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}

.specification-section .container .section-title {
    text-align: center;
    margin-bottom: 40px;
}

.specification-section .container .section-title h2 {
    font-size: 32px;
    font-family: Arial, sans-serif;
    color: #2E62AC;
}

.specification-section .container .section-title h2 span {
    font-size: 16px;
    margin-left: 10px;
}

.specification-section .container .section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.specification-section .container .content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #797979;
    margin-left: -1px;
    margin-top: -1px;
    padding: 30px 15px;
    border-top: none;
}




.specification-section .container .content .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 25px;
    max-width: 70px;
    width: 100%;
}

.specification-section .container .content .image img {
    height: 70px;
    width: 70px;
}

.specification-section .container .content .info .title {
    margin-bottom: 5px;
}

.specification-section .container .content .info .title h4 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #2E62AC;
    font-weight: 600;
    line-height: 1.4;
}

.specification-section .container .content .info .subtitle h4 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #4A4A4A;
    line-height: 1.4;
}

.specification-section .container .section-footer {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    color: #4A4A4A;
}

.specification-section .section-content > div:nth-child(3) .content,
.specification-section .section-content > div:nth-child(4) .content {
    border-bottom: 0px;
}

/***********************************************/
/* Collection Section-> Collection Product Page */
/***********************************************/
.collection .container {
    max-width: 815px;
}

.collection .section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 65px;
    padding-top: 65px;
}

.collection .section-title .title {
    margin-bottom: 65px;
}

.collection .section-title .title.bottom-line:after {
    background-color: #3244C0;
    height: 7px;
}

.collection .section-title .title h2 {
    font-size: 42px;
    font-family: Arial, sans-serif;
    color: #3244C0;
    font-weight: 600;
}

.collection .section-title .subtitle {
    margin-bottom: 15px;
}

.collection .section-title .subtitle p {
    font-size: 22px;
    font-family: Arial, sans-serif;
    color: #2D2D2D;
}

.desp p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color: #7C7C7D;
}

.collection .price {
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #383838;
    font-weight: 600;
    margin-bottom: 10px;
}

/***********************************************/
/* Status Form-> Collection Page */
/***********************************************/
.status-form {
    padding-bottom: 70px;
}

.status-form .container {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

.status-form .section-title {
    margin-bottom: 60px;
}

.status-form .section-title.bottom-line:after {
    background-color: #3244C0;
    height: 7px;
}

.status-form .section-title h2 {
    font-size: 42px;
    font-family: Arial, sans-serif;
    color: #3244C0;
    text-align: center;
    font-weight: 600;
}

/***********************************************/
/************* Banner -> About Page ************/
/***********************************************/




/***********************************************/
/************* Intro -> About Page ************/
/***********************************************/
.about-page .about_intro {
    padding-top: 65px;

}

.about-page .about_intro .container {
    max-width: 1285px;
    border-bottom: 1px solid #909090;
    padding-bottom: 50px;
}

.about-page .about_intro .container .inner-container {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
}

.about-page .about_intro .container .inner-container .title {
    padding-bottom: 40px;
    margin-bottom: 25px;
}

.about-page .about_intro .container .inner-container .title h2 {
    font-size: 38px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.about-page .about_intro .container .inner-container .intro-split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.about-page .about_intro .container .inner-container .intro-split p {
    max-width: 50%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #353535;
    line-height: 1.5;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
}

.about-page .about_intro .container .inner-container .intro-split p:first-child {
    -webkit-transform: unset;
    transform: unset;
}

.about-page .about_intro .container .inner-container .image {
    padding: 55px 55px 50px 0;
    position: relative;
    margin-bottom: 50px;
}

.about-page .about_intro .container .inner-container .image .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.about-page .about_intro .container .inner-container .image .bg .top-right-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.about-page .about_intro .container .inner-container .image .bg .left-bottom-bg {
    position: absolute;
    left: -50px;
    bottom: 0;
}

.about-page .about_intro .container .inner-container .intro p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #272727;
    line-height: 1.5;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/***********************************************/
/************* Certification -> About Page ************/
/***********************************************/

.about-page .certification-section .about_intro .container {
    border: none;
}

.about-page .certification-section .container .inner-container .image-s {
    padding: 30px 40px 40px 0;
    position: relative;
    margin-bottom: 20px;
}

.about-page .certification-section .container .inner-container .image-s .bg-s {
    width: 190px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.about-page .certification-section .container .inner-container .intro.small {
    max-width: 600px;
    width: 100%;
}


/***********************************************/
/************* Video Slider -> Clips Page ************/
/***********************************************/

.clip-page .video-slider-section {
    padding: 65px 0px;
}

.clip-page .video-slider-section .container {
    max-width: 1080px;
}

.clip-page .video-slider-section .container .section-title {
    margin-bottom: 65px;
}

.clip-page .video-slider-section .container .section-title h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: #3244C0;
    font-weight: 600;
}

.clip-page .video-slider-section .container .video-slider-nav {
    height: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.clip-page .video-slider-section .container .video-tab-slider .video-slider-nav .row .col-lg-10,
.clip-page .video-slider-section .container .video-tab-slider .video-slider-nav .row .col-md-10 {
    max-width: 79%;
}

.clip-page .video-slider-section .container .video-tab-slider .video-slider-nav .row .col-lg-2,
.clip-page .video-slider-section .container .video-tab-slider .video-slider-nav .row .col-md-2 {
    max-width: 21%;
}

.clip-page .video-slider-section .container .video-tab-slider .video-slider-nav .slider-right {
    margin-left: 20px;
    height: 100%;
}

.clip-page .video-slider-section .container .video-slider-nav .slick-prev.slick-arrow,
.clip-page .video-slider-section .container .video-slider-nav .slick-next.slick-arrow {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../images/video_slider_arrow.svg);
    width: 30px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: cover;
}

.clip-page .video-slider-section .container .video-slider-nav .slick-prev.slick-arrow {
    top: 0;
    bottom: unset;
}

.clip-page .video-slider-section .container .video-slider-nav .slick-next.slick-arrow {
    top: unset;
    bottom: 0;
    right: auto;
    -webkit-transform: rotate(180deg) translateX(50%);
    transform: rotate(180deg) translateX(50%);
}

.clip-page .video-slider-section .container .video-slider-nav .slick-prev:before,
.clip-page .video-slider-section .container .video-slider-nav .slick-next:before {
    content: '';
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.clip-page .video-slider-section .container .video-slider-nav .slick-list {
    height: 85% !important;
}

.clip-page .video-slider-section .container .video-slider-nav .slick-track {
    width: 100% !important;
}


.clip-page .video-slider-section .container .video-slider-nav.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
    margin-bottom: 10px;
    width: 202px;
    margin-bottom: -8px;
    margin-top: 16px;
    padding: 2px 0;
}

/*Slider For*/

.clip-page .video-slider-section .video-tab-slider .slider-left {
    padding-right: 20px;
}

.clip-page .video-slider-section .video-tab-slider .slider-left .slider-youtube .video-foreground iframe {
    width: 100%;
    height: 470px;
}

/***********************************************/
/************* Single Slider -> Club Page ************/
/***********************************************/
.club-page .club_single_row_slider {
    padding: 80px 0px;
}

.club-page .club_single_row_slider .container {
    max-width: 1220px;
}

.club-page .club_single_row_slider .container .section-title {
    margin-bottom: 85px;
}

.club-page .club_single_row_slider .container .section-title h2 {
    font-size: 42px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #3244C0;
    text-transform: uppercase;
}

.club-page .club_single_row_slider .container .section-title.bottom-line:after {
    width: 55px;
    height: 7px;
    background-color: #3244C0;
}

.club-page .club_single_row_slider .container .slider {
    max-width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 0px 14px rgba(0, 0, 0, .12);
    border-radius: 10px;
    margin: 10px 5px;
    position: relative;
    padding: 0 15px;
}

.club-page .club_single_row_slider .container .slider .colon {
    position: absolute;
    top: 0;
    left: 10px;
}

.club-page .club_single_row_slider .container .slider .slider_img {
    max-width: 270px;
    margin: 40px auto;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.club-page .club_single_row_slider .container .slider .slider_img img {
    -o-object-fit: cover;
    object-fit: cover;
}

.club-page .club_single_row_slider .container .slider .slider_content {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 30px;
}

.club-page .club_single_row_slider .container .slider .slider_content .title_one,
.club-page .club_single_row_slider .container .slider .slider_content .title_two {
    margin-bottom: 15px;
}

.club-page .club_single_row_slider .container .slider .slider_content .title_one h3 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #3244C0;
    line-height: 1.4;
}

.club-page .club_single_row_slider .container .slider .slider_content .title_two h2 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
}

.club-page .club_single_row_slider .container .slider .slider_content .desp {
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
}

.club-page .club_single_row_slider .container .slider .slider_content .desp p {
    color: #929292;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.club-page .club_single_row_slider .slider-row {
    /*    padding: 20px;*/
}

.club-page .single_row_slider {
    /*    padding: 0 5px;*/
}

.club-page .single_row_slider.slick-initialized.slick-slider {
    max-width: 88.33%;
    width: 100%;
    margin: 0 auto;
}


.club-page .single_row_slider .slick-prev.slick-arrow,
.club-page .single_row_slider .slick-next.slick-arrow {
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 50%;
}

.club-page .single_row_slider .slick-prev.slick-arrow {
    left: -75px;
}

.club-page .single_row_slider .slick-next.slick-arrow {
    right: -75px;
}

.club-page .single_row_slider .slick-arrow:before {
    font-family: fontawesome;
    color: #000;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.club-page .single_row_slider .slick-prev.slick-arrow:before {
    content: '\f104';
}

.club-page .single_row_slider .slick-next.slick-arrow:before {
    content: '\f105';
}

.club-page .single_row_slider .slick-slide {
    margin: 0 6px;
}

/* the parent */
.club-page .single_row_slider .slick-list {
    margin: 0 -3px;
}

.club-page .inner_banner .carousel-img img {
    max-height: 450px;
}

/***********************************************/
/************* double row Slider -> Club Page ************/
/***********************************************/

.club-page .double_row_slider_section {
    padding: 45px 0px;
    background-color: #EFEFEF;
}

.club-page .double_row_slider_section .container {
    max-width: 1230px;
}

.club-page .double_row_slider_section .container .section-title {
    margin-bottom: 115px;
}

.club-page .double_row_slider_section .container .section-title h2 {
    font-size: 42px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #3244C0;
    text-transform: uppercase;
}

.club-page .double_row_slider_section .container .section-title.bottom-line:after {
    width: 55px;
    height: 7px;
    background-color: #3244C0;
    top: 80px;
}

.club-page .double_row_slider_section .container .double_row_slider .slider {
    max-width: 600px;
    width: 100%;
    margin-bottom: 55px;
}

.club-page .double_row_slider_section .container .double_row_slider .slider .slider_img {
    max-width: 40%;
    width: 100%;
}

.club-page .double_row_slider_section .container .double_row_slider .slider .slider_content {
    max-width: 60%;
    width: 100%;
}


.club-page .double_row_slider_section .container .double_row_slider .slider .slider_content {
    padding: 0px 20px;
}

.club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .title {
    margin-bottom: 8px;
}

.club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .title h3 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #3244C0;
    text-transform: uppercase;
    line-height: 1.4;
}

.club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .desp {
    margin-bottom: 15px;
}

.club-page .double_row_slider_section .container .double_row_slider .slider .slider_content .button .btn-custom {
    width: 150px;
    height: 35px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.club-page .double_row_slider_section .container .double_row_slider .slick-dots li {
    position: relative;
    width: 35px;
    ;
}

.club-page .double_row_slider_section .container .double_row_slider .slick-dots li:last-child {
    margin-left: 0px;
}

.club-page .double_row_slider_section .container .double_row_slider .slick-dots li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 31px;
    background-color: #A7A7A7;
    right: -6px;
    top: -4px;
    right: -13%;
}

.club-page .double_row_slider_section .container .double_row_slider .slick-dots li:last-child:after {
    display: none;
}

.club-page .double_row_slider_section .container .double_row_slider .slick-dots li a {
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: #A7A7A7 !important;
}

.club-page .double_row_slider_section .container .double_row_slider .slick-dots li.slick-active a {
    color: #000 !important;
}


.club-page .double_row_slider_section .container .double_row_slider .slick-prev.slick-arrow {
    bottom: -15px;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
    z-index: 1;

}

.club-page .double_row_slider_section .container .double_row_slider .slick-prev.slick-arrow:before {
    font-family: fontawesome;
    content: '\f100';
    font-size: 26px;
    color: #000;
}

.club-page .double_row_slider_section .container .double_row_slider .slick-next.slick-arrow {
    bottom: -15px;
    top: auto;
    right: 50%;
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
    z-index: 1;
}

.club-page .double_row_slider_section .container .double_row_slider .slick-next.slick-arrow:before {
    font-family: fontawesome;
    content: '\f101';
    font-size: 26px;
    color: #000;
}



/***********************************************/
/************* Contact Information -> contact Page ************/
/***********************************************/
.contact-page .contact_information .container {
    max-width: 1240px;
}

.contact-page .contact_information .contact_inner {
    padding: 55px 0px 35px 0px;
    border-bottom: 1px solid #909090;
}

.contact-page .contact_information .contact_inner .contact_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*    align-items: center;*/
}

.contact-page .contact_information .contact_inner .br {
    border-right: 1px solid #909090;
}

.contact-page .contact_information .contact_inner .br:last-child {
    border-right: none;
}

.contact-page .contact_information .contact_inner .contact_item .contact_icon img {
    width: auto;
    height: auto;
}

.contact-page .contact_information .contact_inner .contact_details h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #3244C0;
}

.contact-page .contact_information .contact_inner .contact_details p {
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0px;
    line-height: 36px;
    font-family: Arial, sans-serif;
    color: #363636;
}

.contact-page .contact_information .contact_inner .contact_details {
    margin-left: 15px;
}


/***********************************************/
/************* Form Section -> contact Page ************/
/***********************************************/

.contact-page .form_section {
    padding: 50px 0px;
}

.contact-page .form_section .container {
    max-width: 840px;
}

.contact-page .form_section .section-title {
    margin-bottom: 20px;
}

.contact-page .form_section .section-title h2 {
    font-size: 32px;
    font-family: Arial, sans-serif;
    color: #3244C0;
    font-weight: 600;
}

.contact-page .form_section .section-info {
    margin-bottom: 40px;
}

.contact-page .form_section .section-info h3 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #2C2C2C;
    line-height: 1.3;
}

.contact-page .form_section .container .section-inner .contact-form {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
}

.contact-page .form_section .container .section-inner .contact-form .form-group {
    padding-left: 20px;
}

.contact-page .form_section .container .section-inner .contact-form .form-label {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #A0A0A0;
    z-index: -1;
}

.contact-page .form_section .container .section-inner .contact-form .label-active {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.contact-page .form_section .container .section-inner .contact-form .form-input {
    height: 50px;
    margin-top: 20px;
}

.contact-page .form_section .container .section-inner .contact-form .form-input:placeholder {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #A0A0A0;
}

.contact-page .form_section .container .section-inner .contact-form .form-btn {
    margin-top: 35px;
}

.contact-page .form_section .container .section-inner .upload {
    display: none;
}

.contact-page .form_section .container .section-inner .contact-form .upload-btn {
    width: 175px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #A0A0A0;
    position: relative;
    padding-left: 25px;
}

.contact-page .form_section .container .section-inner .contact-form .upload-btn:after {
    position: absolute;
    font-family: fontawesome;
    content: "\f093";
    right: 25px;
    color: #000;
}

.contact-page .form_section .container .section-inner .contact-form .btn-custom {
    width: 175px;
    height: 40px;
    border-radius: 15px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 0;
    text-transform: uppercase;
}


/***********************************************/
/************ health-section->Health-page ***********/
/***********************************************/
.water_health-page .container {
    max-width: 1270px;
}


.water_health-page .collection.health.product-intro {
    padding-top: 30px;
    padding-bottom: 50px;
}

.water_health-page .collection.health.product-intro .container {
    max-width: 1190px;
}

.water_health-page .collection.health.product-intro .section-title {
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}

.water_health-page .collection.health.product-intro .container .section-title .title h2 {
    font-size: 24px;
    font-family: arial, sans-serif;
    font-weight: 100;
}

.water_health-page .home_slider .content .title h3 {
    font-size: 20px;
}

.water_health-page .collection.health.product-intro .image-item {
    position: relative;
    max-width: 375px;
    margin: 0 10px;
}

.water_health-page .collection.health.product-intro .image-info {
    position: absolute;
    background-color: #3244c0;
    width: 100%;
    z-index: 55;
    bottom: 0;
    left: 0;
    height: 25%;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.water_health-page .about-home .slick-arrow:before {
    font-family: fontawesome;
    content: "\f104";
    color: #D2D2D2;
    font-size: 40px;
}

.water_health-page .about-home .slick-next:before {
    content: "\f105";
}

.home_slider.health_slider {
    max-width: 95%;
    margin: auto;
}

/***********************************************/
/************ Seperator-section->Health-page ***********/
/***********************************************/

.water_health-page .separator .container {
    padding: 0 20px;
}

.water_health-page .separator .content {
    padding: 35px;
    border: 1px solid #3244C0;
    border-left: none;
    border-right: none;
}

.water_health-page .separator .content .title {
    margin-bottom: 20px;
}

.water_health-page .separator .content .title h3 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.water_health-page .separator .content .info p {
    color: #1A1A1A;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-style: italic;
    line-height: 1.4;
}

/***********************************************/
/************ Slider-section->Health-page ***********/
/***********************************************/
.water_health-page .about-home {
    padding-bottom: 70px;
    padding-top: 55px;
}

.water_health-page .about-home .health_slider .slick-slide {
    margin: 0 10px;
}

.water_health-page .about-home .section-title {
    margin-bottom: 40px;
}

.water_health-page .about-home .section-title h2 {
    color: #3244C0;
    font-size: 29px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
}


/***********************************************/
/************ Order-section->Order-page ***********/
/***********************************************/
.order-page .order-section {
    padding-top: 120px;
    padding-bottom: 50px;
}

.order-page .order-section .container {
    max-width: 1175px;
}


.order-page .contact-form.order-form {
    border: 1px solid #797979;
    border-radius: 10px;
    padding: 0 45px;
    padding-bottom: 70px;
    width: 100%;
    position: relative;
}

.order-page .order-section .container .contact-form .form-label {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #A0A0A0;
    z-index: -1;
}

.order-page .order-section .container .contact-form .label-active {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}


.order-page .order-section .container .contact-form .form-input {
    height: 50px;
    margin-top: 20px;
}

.order-page .order-section .container .contact-form .form-input:placeholder {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #A0A0A0;
}

.order-page .order-section .container .order-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.order-page .product-title {
    padding: 0 0 20px 0px;
}

.order-page .order-section .container .product-title h2 {
    font-size: 54px;
    font-weight: 700;
    font-family: arial, sans-serif;
    color: #4C5BDC;
}

.order-page .order-section .product-cost h3 {
    color: #4C5BDC;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

.order-page .product-cost {
    display: block;
    border: 1px solid #727272;
    border-left: none;
    border-right: none;
    padding: 15px 10px;
    display: inline-block;
    padding-right: 20px;
}

.order-page .order-section .container .product-info h3 {
    font-size: 24px;
    font-weight: 700;
}


.order-page .product-info p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #848486;
    font-family: arial, sans-serif;
    line-height: 1.4;
}

.order-page .description-a p,
.order-page .description-b p,
.order-page .description-c p {
    font-size: 16px;
    line-height: 45px;
    font-family: arial, sans-serif;
    color: #29292B;
}

.order-page .description-a p span {
    font-weight: 600;
}

.order-page .description-d p {
    font-size: 16px;
    font-family: arial, sans-serif;
    line-height: 40px;
    font-weight: 600;
}

.order-page .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
}

.order-page .description-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.order-page input.decrement,
.order-page input.numbr {
    /* padding: 10px; */
    border: 1px solid #7f7f7f;
    width: 30px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #222222;
    font-weight: 600;
}

.order-page input[type="button"] {
    font-family: FontAwesome;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

.order-page .product-details {
    padding: 40px 40px;
}

.order-page .product-description {
    padding: 15px 0px;
}

.order-page form.contact-form.order-form {
    border: 1px solid #727272;
    border-radius: 10px;
    padding: 20px 30px 70px 30px;
}

.order-page .order-section .container .order-btn .btn-custom {
    /* width: 245px; */
    padding: 10px 65px;
    border-radius: 10px;
}

.order-page .order-btn {
    position: absolute;
    bottom: 0;
    right: 43px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}


/***********************************************/
/****** Filter Section store_location-page *****/
/***********************************************/
.store_location-page .container {
    max-width: 1170px;
}

.store_location-page .container .section-inner {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

.filter-form-section {
    padding: 60px 0px;
}

.filter-form-section .section-title {
    margin-bottom: 30px;
}

.filter-form-section .section-title h2 {
    font-size: 42px;
    font-family: Arial, sans-serif;
    color: #3244c0;
    font-weight: 600;
    text-transform: uppercase;
}

.filter-form-section .secton-info {
    margin-bottom: 20px;
}

.filter-form-section .secton-info p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #2d2d2d;
    line-height: 1.4;
}

.filter-form input {
    max-width: 325px;
    width: 100%;
    height: 53px;
    background-color: #D9D9D9;
}

.filter_input {
    max-width: 325px;
    height: 50px;
    width: 100%;
    background-color: #D9D9D9;
    position: relative;
}

.filter_input:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../images/selectArrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-form-section .btn-custom {
    max-width: 180px;
    height: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    border-radius: 15px;
}

/***********************************************/
/****** Filter Result store_location-page *****/
/***********************************************/
.result-section .image {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.result-section .image img {
    -o-object-fit: cover;
    object-fit: cover;
}

.result-section .container {
    border-bottom: 1px solid #1B1B1B;
    padding-bottom: 60px;
}

.result-section .overlay {
    position: absolute;
    max-width: 30%;
    width: 100%;
    height: 60%;
    background-color: rgba(50, 68, 192, .76);
    top: 0;
    left: 0;
    padding: 30px;
}

.result-section .overlay p {
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 600px;
    color: #fff;
    line-height: 1.4;
}

.result-section.showroom {
    padding-top: 60px;
    padding-bottom: 0px;
}

.result-section.showroom .container {
    border: none;
}

.overlay-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.overlay-title h2 {
    font-size: 62px;
    font-family: Arial, sans-serif;
    color: #3244c0;
    font-weight: 900;
    text-transform: uppercase;
}


.result-section.showroom .showroom-nav {
    max-width: 652px;
    width: 100%;
    margin: 0 auto;
    margin-top: -65px;
}

.result-section.showroom .rel_image {
    max-width: 140px;
    max-height: 80px;
    width: 100%;
    border: 2px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.result-section.showroom .rel_image img {
    -o-object-fit: cover;
    object-fit: cover;
}

.result-section.showroom .showroom-nav .slick-list {
    margin: 0 10px;
    padding: 15px 0;
}

.result-section.showroom .showroom-nav .slick-current .rel_image {
    border: 3px solid rgba(0, 30, 114, .6);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.result-section.showroom .showroom-nav .slick-current .rel_image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/***********************************************/
/****** product_series_input -> product_series_input-page *****/
/***********************************************/

.product_series_input {
    padding-top: 65px;
    padding-bottom: 45px;
}

.product_series_input .container {
    max-width: 1040px;
}

.product_series_input .sectin-title {
    margin-bottom: 30px;
}

.product_series_input .sectin-title h2 {
    font-size: 42px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #3244c0;
    line-height: 1.3;
}

.product_series_input .desp {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.product_series_input .desp p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #191919;
    text-align: center;
    line-height: 1.5;
}

.product_series_input .desp.red p {
    color: #ff0404;
}

.product_series_input .input_series {
    max-width: 420px;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 21px;
    color: #3244c0;
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    border: 2px solid #FF0000;
    border-radius: 10px;
    margin-bottom: 30px;
}



/***********************************************/
/****** Capcha -> product_series_input-page *****/
/***********************************************/
.product_series_input .capcha {
    padding-top: 20px;
}

.product_series_input .cap_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
}

.product_series_input .cap_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.product_series_input .cap_image .refresh_btn {
    font-size: 30px;
    background-color: #F0F0F0;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #AFAFAF;
    border-radius: 4px;
}

.input_capcha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input_capcha input {
    max-width: 260px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-image: url(../images/capcha_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 31px;
    font-weight: 600;
    color: #2e2e2e;
    text-align: center;
    font-family: Arial, sans-serif;
    letter-spacing: 5px;
}

.product_series_input .btn-custom {
    width: 175px;
    height: 45px;
    padding: 0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 35px;
}

/***********************************************/
/****** product_series_display page *****/
/***********************************************/
.product_series_display-page .product_series_display {
    padding-top: 70px;
    padding-bottom: 50px;
}

.product_series_display-page .product_series_display .container {
    max-width: 1090px;
}

.product_series_display-page .product_series_display .section-title {
    margin-bottom: 45px;
}

.product_series_display-page .product_series_display .section-title h2 {
    font-size: 42px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #3244c0;
    text-align: center;
    line-height: 1.2;

}

.product_series_display-page .product_series_display .Product-image img {
    max-height: 300px;
    width: auto;
}

.product_series_display-page .product_series_display .Product-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 70px;
}

.product_series_display-page .product_series_display .title {
    margin-bottom: 30px;
}

.product_series_display-page .product_series_display .title h2,
.product_series_display-page .product_series_display .info h2 {
    font-size: 22px;
    font-family: Arial, sans-serif;
    color: #29292b;
    line-height: 1.4;
    margin-bottom: 5px;
}

.product_series_display-page .product_series_display .title h2 span,
.product_series_display-page .product_series_display .info h2 span {
    color: #3244c0;
    font-weight: 600;
}

.product_series_display-page .product_series_display .hotline {
    background-color: #facd0a;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    color: #272727;
    margin-top: 50px;
}


/***********************************************/
/*************Sitemap-page ************/
/***********************************************/

.sitemap {
    padding: 40px 0px;
}


.sitemap .container {
    max-width: 1170px;
}

.sitemap .container .sitemap-inner {
    padding: 40px 50px;
    width: 1030px;
    min-height: 330px;
    background-color: #393939;
    border-radius: 10px;
    margin: 0 auto;
}

.sitemap-inner .heading h2 {
    color: #ffff;
    font-size: 42px;
    font-family: arial, sans-serif;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.sitemap .container .sitemap-inner .map-item ul li a h5 {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #fff;
}

.sitemap .container .sitemap-inner .col-lg-3 .map-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
    height: 170px;

}

.sitemap-inner .row .col-lg-3 .map-item {
    margin-left: 20px;

}


/***********************************************/
/*************Search-page ************/
/***********************************************/


.search_section .search-form form {
    position: relative;
}

.search_section .search-btn .s-btn {
    position: absolute;
    /* left: 0; */
    width: 175px;
    right: 15px;
    top: 13px;
    height: 45px;
    text-align: center;
    border-radius: 10px;
}


.search_section input.form-control.search-input {
    background-color: #f0f0f0;
    padding: 25px 200px 25px 25px;
    height: 70px;
    font-size: 16px;
    font-family: arial, sans-serif;
    font-weight: 500;
}

.search_section input.form-control.search-input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgba(41, 41, 43, .61);
}

.search_section .title h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #4c5bdc;
}

.search_section input::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #29292b;
    color: rgba(41, 41, 43, .61);
}

.search_section input::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #29292b;
    color: rgba(41, 41, 43, .61);
}

.search_section input:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #29292b;
    color: rgba(41, 41, 43, .61);
}

.search_section input::placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #29292b;
    color: rgba(41, 41, 43, .61);
}

.search_section .container {
    max-width: 1170px;
}

.search_section {
    padding: 85px 0 210px 0px;
}

/***********************************************/
/*************article-page ************/
/***********************************************/



.article-page .article {
    padding: 40px 0px 20px 0px;
}

.article-page .article .container {
    max-width: 1170px;
}

.article-page .article .container .title h2 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 35px;
    text-align: center;
    color: #3244c0;
    line-height: 1.4;
}

.article-page .article .container .title.bottom-line:after {
    background-color: #3244C0;
    height: 7px;
}

.article-content {
    padding-top: 40px;
}

.article-heading h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: arial, sans-serif;
    margin-bottom: 20px;
}

.article-info h5 {
    font-size: 16px;
    line-height: 23px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    color: #3a3a3a;
}

.article-text-top p,
.article-text-bottom p {
    font-size: 16px;
    line-height: 26px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #3a3a3a;
}

.article-img {
    margin-right: -15px;
}


/*
.article-page .separator .container .border-btm.custom-border {
    margin: 0px 40px 0px 80px;
    width: 85%;
    background-color: #797979;
    height: 2px;
}
*/

.article-page .article-bottom .container {
    max-width: 1170px;
}

.article-page .link-list .article-link a {
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 15px;
    display: inline-block;
    border-bottom: 2px solid #3A3A3A;
    cursor: pointer;
}

.article-page .link-list {
    margin-bottom: 40px;
}

.article-content .below_link .title h4 {
    color: #3244c0;
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 22px;
}


/***********************************************/
/************ Warranty-page ***********/
/***********************************************/
.tab-section-iner {
    padding: 70px 0px;
}

.tab-section-iner .container {
    max-width: 1210px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: transparent;
    color: #737582;
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
    color: #737582;
}

.menu-image {
    max-width: 130px;
    width: 100%;
    margin-bottom: 20px;
}

.tab-menu-single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul#pills-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 25px !important;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #737582;

}

ul#pills-tab li {
    width: 100%;
    max-width: 25%;
}

ul#pills-tab .nav-link {
    border: none;
    padding: 0px !important;
    position: relative;
}

ul#pills-tab .nav-link:hover {
    background-color: transparent;
}

ul#pills-tab .nav-link:hover .menu-text p {
    color: #3444BE;
}

.menu-text p {
    font-size: 18px;
    font-weight: bold;
}

ul#pills-tab .nav-link.active:after {
    content: "";
    position: absolute;
    background: #3244C0;
    height: 3px;
    width: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -26px;
}

ul#pills-tab .nav-link.active:after {
    content: "";
    position: absolute;
    background: #3244C0;
    height: 3px;
    width: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -26px;
}

div#pills-tabContent {
    padding-top: 50px;

}

.tab-title.text-center h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.tab-title-details > p {
    font-size: 28px;
    line-height: 1.3;
}

.tab-title.text-center {
    margin-bottom: 80px;
}

.warranty-page-acc .faqs #accordion .card .collapsed .card-header h5 {
    font-size: 16px;
    font-weight: bold;
    color: #737582;
}

.warranty-page-acc .faqs #accordion .card .card-header h5 {
    font-size: 16px;
    font-weight: bold;
    color: #737582;
}

.warranty-page-acc .faqs #accordion .card .card-header:before {
    display: none;
}

.warranty-page-acc .faqs #accordion .card .card-header {
    padding-left: 0;
}

.warranty-page-acc .faqs #accordion .card .card-body {
    font-size: 16px;
    color: #737582;
    padding-left: 0px;
}

.tab-content.warranty-page-acc {
    padding: 0px 40px;
}

.warranty-page-acc [class*=' col-'] .card {
    width: 100%;
    max-width: 90%;
    border-bottom: 1px solid #DFDFDF !important;
}

.warranty-page-acc [class*=' col-']:last-child .card {
    margin-left: auto;
}

.single-product-page faqs #accordion .card .coll_icon:after {
    color: #737582;
    font-size: 10px !important;
    width: 20px;
    height: 20px;
    border: 1px solid #737582;
    text-align: center;
    line-height: 1.8;
    font-weight: 300;
}

.warranty-page-acc .faqs #accordion .card .card-header h5 {
    color: #3244C0;
}

.review-flow-single {
    max-width: 16.5%;
    width: 100%;
}

.review-flow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.warranty-banner-content h1 {
    font-size: 48px;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

.warranty-banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    max-width: 1480px;
}

.warranty-banner-content h1 > span {
    display: block;
    color: #f6ea25;
    text-transform: uppercase;
}

.warranty-page .inner_banner .carousel-item {
    min-height: 475px;
}

.warranty-page .inner_banner .carousel-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.warranty-page .inner_banner .carousel-img img {
    -o-object-fit: cover;
    object-fit: cover;
}

/*=======Award Page=============*/

.certification-section .container .inner-container .intro.small {
    max-width: 100% !important;
}

.about-page .award-map.about_intro .container .inner-container .image {
    padding: 0px !important;
    /*    max-height: 530px;*/
    margin-bottom: 30px;
}

section.award-map.about_intro {
    padding-top: 200px;
    position: relative;
    z-index: 99;
}

.about-page .certification-section .container .inner-container .image-s {
    padding: 30px 60px 10px 0px;
}

.about-page .about_intro.award-map .container {
    border: none;
}

.about-page .about_intro .container .inner-container {
    max-width: 1130px;
}

.award-intro .inner-container {
    max-width: 900px !important;
}

.about-page .award-intro {
    padding-top: 0;
}

.award-intro-inner {
    padding: 60px 40px 0px 40px;
    border-top: 1px solid #343434;
}

.btn-link.text-right a {
    color: #f60c0c;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    padding-right: 60px;
    padding-top: 50px;
    display: inline-block;
}

.award-map-inner {
    position: relative;
}

.award-map-inner h4 {
    position: absolute;
    top: 20px;
    left: 40px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 18px;
    color: #333;
}

.award-map-inner .scotland_map {
    position: absolute;
    left: 46%;
    top: 24%;
    right: 0;
    width: 180px;
}

.maplocation_place h5 {
    margin-left: -5px;
    color: #2a60af;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

.maplocation_place span {
    border-left: 1px solid #2a60af;
    width: 1px;
    height: 100px;
    position: relative;
    margin-left: 10px;
}

.awards_sec .indonesia_map span,
.maplocation_place span {
    vertical-align: middle;
    margin-bottom: 3px;
    display: inline-block;
}

.award-map-inner span:after {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: -5px;
    content: "";
    background: #2a60af;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.award-map-inner .vietnam_map span:after,
.award-map-inner .india_map span:after,
.award-map-inner .uk_map span:after {
    bottom: unset;
    top: -5px;
}

.award-map-inner .indonesia_map {
    position: absolute;
    right: 17%;
    bottom: 14%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.indonesia_map.maplocation_place h5 {
    -webkit-transform: rotate(-90deg) translateY(-215%) translateX(46%);
    transform: rotate(-90deg) translateY(-215%) translateX(46%);
}

.award-map-inner .india_map {
    position: absolute;
    top: 58.5%;
    right: 18%;
    width: 180px;
}

.award-map-inner .bangladesh_map {
    position: absolute;
    right: 17%;
    bottom: 22%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bangladesh_map.maplocation_place h5 {
    -webkit-transform: rotate(-90deg) translateY(-290%) translateX(50%);
    transform: rotate(-90deg) translateY(-290%) translateX(50%);
}

.award-map-inner .pakistan_map {
    position: absolute;
    right: 30%;
    bottom: 43%;
}

.award-map-inner .uk_map {
    position: absolute;
    top: 49%;
    right: 37.6%;
    width: 180px;
}

.award-map-inner .vietnam_map {
    position: absolute;
    right: 10.5%;
    bottom: 8%;
    width: 180px;
}

.maplocation_place h5 img {
    max-width: 30px;
}

.awardspopup_info {
    display: none;
    width: 100%;
    background: #efefef;
    border: 0 solid #ccc;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 50px; */
    right: 0;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    overflow: scroll;
}

.awardspopup_close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 32px;
    z-index: 1;
}

.container_info {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.awards_popcnt h3 {
    font-size: 25px;
    margin: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.awardspopup_info .resp-tabs-list {
    border: 0;
    border-right: 2px solid #4177bb;
}

.awardspopup_info .resp-vtabs li.resp-tab-active {
    background: #2fbce6 !important;
    margin: 0 !important;
    border: 0;
    padding: 15px !important;
}

.awardspopup_info .resp-vtabs .resp-tabs-list li {
    background: #cecece;
    color: #fff;
    font-family: mulisemibold;
    font-size: 20px;
    text-shadow: none;
    font-weight: 400;
}

.awards_popcnt h3 > img {
    max-width: 30px;
}

.awardsmediainfo_media-body h4 {
    font-size: 18px;
    margin-right: 3px;
}

.resp-tab-item > img {
    max-width: 30px;
    margin-right: 7px;
}

.resp-tab-content img {
    max-width: 129px;
}

.awardsmediainfo_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0px;
}

.awardsmediainfo_media-body {
    padding-left: 20px;
}

.resp-tab-content hr {
    margin: 0px;
}

.shadeover {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed !important;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 9999 !important;
}

ul.award-btn-div a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #3244C0;
    padding: 16px 41px;
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
}

ul.award-btn-div {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}


.award_certificates-page #lightcase-overlay {
    z-index: 9999;
}

.award_certificates-page #lightcase-case {
    z-index: 9999;
}

/** * *
* * * 
* * *
* * *
* * * 
* * *
* * * 
* * */
/*==========tabs css=====*/

ul.resp-tabs-list {
    padding: 0;
    margin: 0
}

.resp-tabs-list li,
h2.resp-accordion {
    font-size: 13px;
    cursor: pointer
}


.resp-tabs-list li {
    font-weight: 600;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    float: left
}

.resp-tabs-container {
    padding: 0;
    background-color: #fff;
    clear: left
}

h2.resp-accordion {
    display: none
}

.resp-tab-content {
    display: none;
    padding: 15px
}

.resp-accordion-active,
.resp-content-active,
.resp-easy-accordion h2.resp-accordion,
.resp-tab-content-active {
    display: block
}

.resp-tab-active {
    border: 1px solid #c1c1c1;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px !important;
    border-bottom: none;
    background-color: #fff
}

.resp-tab-content,
h2.resp-accordion {
    border: 1px solid #c1c1c1
}

h2.resp-accordion {
    font-size: 13px;
    border-top: 0 solid #c1c1c1;
    margin: 0;
    padding: 10px 15px
}

h2.resp-tab-active {
    border-bottom: 0 solid #c1c1c1 !important;
    margin-bottom: 0 !important;
    padding: 10px 15px !important
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: #00f
}

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px !important;
    margin: 0;
    cursor: pointer;
    float: none
}

.resp-vtabs .resp-tabs-container {
    padding: 0;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none
}

.resp-vtabs .resp-tab-content {
    border: none
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1
}

.resp-jfit,
table.table-charges {
    width: 100%
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797
}

h2.resp-tab-active {
    background: #DBDBDB !important
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important
}

.resp-jfit {
    margin: 0
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important
}

@media only screen and (max-width:768px) {
    ul.resp-tabs-list {
        display: none
    }

    h2.resp-accordion {
        display: block
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none
    }

    .resp-accordion-closed {
        display: none !important
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important
    }
}

.web-content2 {
    overflow: auto;
    position: relative;
    padding: 20px 0;
    margin: 0;
    height: 400px;
    box-sizing: border-box
}

.table-charges td {
    border: 1px solid #ccc;
    padding: 5px
}
